{
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "requirePragma": false,
  "insertPragma": false,
  "endOfLine": "lf",
  "singleAttributePerLine": true,
  "tailwindConfig": "./tailwind.config.ts",
  "tailwindFunctions": ["clsx", "tw", "cva"],
  "plugins": ["prettier-plugin-prisma", "prettier-plugin-tailwindcss"]
}
