:root {
  --primary: #0abcff;
  --primary-50: #effaff;
  --primary-100: #def3ff;
  --primary-200: #b6eaff;
  --primary-300: #75dbff;
  --primary-400: #2ccaff;
  --primary-500: #0abcff;
  --primary-600: #0090d4;
  --primary-700: #0072ab;
  --primary-800: #00608d;
  --primary-900: #065074;
  --primary-950: #04334d;

  --secondary: #4a5568;
  --secondary-50: #f6f7f9;
  --secondary-100: #eceef2;
  --secondary-200: #d6dae1;
  --secondary-300: #b1bac8;
  --secondary-400: #8795a9;
  --secondary-500: #68788f;
  --secondary-600: #536076;
  --secondary-700: #4a5568;
  --secondary-800: #3b4351;
  --secondary-900: #343a46;
  --secondary-950: #23272e;

  --tertiary: #f5f7fa;
  --tertiary-50: #f5f7fa;
  --tertiary-100: #eaeef4;
  --tertiary-200: #d0dae7;
  --tertiary-300: #a7bbd2;
  --tertiary-400: #7897b8;
  --tertiary-500: #577aa0;
  --tertiary-600: #446285;
  --tertiary-700: #38506c;
  --tertiary-800: #31445b;
  --tertiary-900: #2d3b4d;
  --tertiary-950: #1e2733;

  --neutral: #1a1313;
  --neutral-0: #ffffff;
  --neutral-50: #f5f5fa;
  --neutral-100: #e1e0e5;
  --neutral-200: #cdccd0;
  --neutral-300: #b9b7bb;
  --neutral-400: #a5a3a6;
  --neutral-500: #7e7a7c;
  --neutral-600: #6a6567;
  --neutral-700: #565152;
  --neutral-800: #423c3d;
  --neutral-900: #2e2828;
  --neutral-950: #1a1313;

  --reverse: #f5f5fa;
  --reverse-0: #ffffff;
  --reverse-50: #f5f5fa;
  --reverse-100: #e1e0e5;
  --reverse-200: #cdccd0;
  --reverse-300: #b9b7bb;
  --reverse-400: #a5a3a6;
  --reverse-500: #7e7a7c;
  --reverse-600: #6a6567;
  --reverse-700: #565152;
  --reverse-800: #423c3d;
  --reverse-900: #2e2828;
  --reverse-950: #1a1313;

  --border: #444c63;
  --border-50: #f6f7f9;
  --border-100: #eceef2;
  --border-200: #d5d9e2;
  --border-300: #b0b7c9;
  --border-400: #8691aa;
  --border-500: #667291;
  --border-600: #525d77;
  --border-700: #444c63;
  --border-800: #3a4152;
  --border-900: #343946;
  --border-950: #22252f;

  --radius: 0.5rem;
}

.dark {
  --primary: #0abcff;
  --primary-50: #04334d;
  --primary-100: #065074;
  --primary-200: #00608d;
  --primary-300: #0072ab;
  --primary-400: #0090d4;
  --primary-500: #0abcff;
  --primary-600: #2ccaff;
  --primary-700: #75dbff;
  --primary-800: #b6eaff;
  --primary-900: #def3ff;
  --primary-950: #effaff;

  --secondary: #c5cbe3;
  --secondary-50: #2b2a3c;
  --secondary-100: #484867;
  --secondary-200: #56547f;
  --secondary-300: #69669c;
  --secondary-400: #7978b3;
  --secondary-500: #9092c4;
  --secondary-600: #a6abd3;
  --secondary-700: #c5cbe3;
  --secondary-800: #d8dded;
  --secondary-900: #eaecf5;
  --secondary-950: #f3f5fa;

  --tertiary: #1a2238;
  --tertiary-50: #f2f6fc;
  --tertiary-100: #e1ecf8;
  --tertiary-200: #cadef3;
  --tertiary-300: #a6c9ea;
  --tertiary-400: #7cacde;
  --tertiary-500: #5c8ed5;
  --tertiary-600: #4875c8;
  --tertiary-700: #3e62b7;
  --tertiary-800: #385195;
  --tertiary-900: #314677;
  --tertiary-950: #1a2238;

  --neutral: #f5f5fa;
  --neutral-0: #000000;
  --neutral-50: #1a1313;
  --neutral-100: #2e2828;
  --neutral-200: #423c3d;
  --neutral-300: #565152;
  --neutral-400: #6a6567;
  --neutral-500: #7e7a7c;
  --neutral-600: #a5a3a6;
  --neutral-700: #b9b7bb;
  --neutral-800: #cdccd0;
  --neutral-900: #e1e0e5;
  --neutral-950: #f5f5fa;

  --reverse: #1a1313;
  --reverse-0: #000000;
  --reverse-50: #1a1313;
  --reverse-100: #2e2828;
  --reverse-200: #423c3d;
  --reverse-300: #565152;
  --reverse-400: #6a6567;
  --reverse-500: #7e7a7c;
  --reverse-600: #a5a3a6;
  --reverse-700: #b9b7bb;
  --reverse-800: #cdccd0;
  --reverse-900: #e1e0e5;
  --reverse-950: #f5f5fa;

  --border: #b6c7da;
  --border-50: #f6f7f9;
  --border-100: #eceef2;
  --border-200: #d5d9e2;
  --border-300: #b0b7c9;
  --border-400: #8691aa;
  --border-500: #667291;
  --border-600: #525d77;
  --border-700: #444c63;
  --border-800: #3a4152;
  --border-900: #343946;
  --border-950: #22252f;
}
